@model MvcPracownik.Models.Zawartosc

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zawartosc</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sztuk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sztuk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idpudelka)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idpudelka)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idczekoladki)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idczekoladki)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.idzawartosci">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
