@model IEnumerable<MvcPracownik.Models.Zawartosc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sztuk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idpudelka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idczekoladki)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sztuk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idpudelka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idczekoladki)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idzawartosci">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idzawartosci">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idzawartosci">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
