@model IEnumerable<MvcPracownik.Models.Artykul>

@{
    ViewData["Title"] = "Articles";
}

<h1>Articles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sztuk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idzamowienia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idpudelka)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.sztuk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idzamowienia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idpudelka)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idartykulu">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idartykulu">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idartykulu">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
