@model IEnumerable<MvcPracownik.Models.Zamowienie>

@{
    ViewData["Title"] = "Orders";
}
@if (!ViewData.ModelState.IsValid)
{   
    <div class="alert alert-danger">
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}
<h1>Orders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.datarealizacji)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idklienta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.datarealizacji)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idklienta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idzamowienia">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idzamowienia">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idzamowienia">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
